<div class="navbar Header-custom">
    <a href="#" class="home-header"> Online Wallet </a>
    <div class="display-block">
        <ul>
            <button type="button" style="margin:10px;cursor:pointer" routerLink="home">Home</button>
            <button type="button" style="margin:10px;cursor:pointer" routerLink="add-user">Register</button>
            <button type="button" style="margin:10px;cursor:pointer" routerLink="user-login">Log In</button>
            <button type="button" style="margin:10px;cursor:pointer" routerLink="account-details">Account Details</button>
        </ul>
    </div>
</div>